{% extends 'main.html' %}

{% block content %}

<section class="header">
    <div class="container">
        <h1>IRIS Ventilation System Control Interface</h1>
        <!-- <button>Logout</button> -->
        <a href="{% url 'logoutPage' %}">Logout</a>
    </div>
</section>

<!-- <section class="addModel">
    <div class="container">
        <form action="">
            <input type="text" placeholder="Write the Model Name">
            <input type="submit" value="Confirm">
        </form>
    </div>
</section> -->
<section class="all-container">
<section class="main-container width-100">
<section class="menu">
    <h1>FAN Control</h1>
    <h1>DUCT Control</h1>
</section>


<section class="main">
    <section class="fan-control">
        <div class="east">
            <h1>EAST</h1>
            <div class="btn-container">
            <div class="east-top-btn">
                <form method="POST" action="{% url 'indexPage' %}">
                    {% csrf_token %}
                    <input type="text" name="q" value="east_top_btn_1">
                    <input type="submit" value="" {% if boolBtnSelectedFan.east_top_btn_1 == 1 %} class="selectedBtn" {% endif %} id="btn">
                </form>
                <form method="POST" action="{% url 'indexPage' %}">
                    {% csrf_token %}
                    <input type="text" name="q" value="east_top_btn_2">
                    <input type="submit" value="" {% if boolBtnSelectedFan.east_top_btn_2 == 1 %} class="selectedBtn" {% endif %}>
                </form>
                
            </div>
            <div class="east-bottom-btn">
                <form method="POST" action="{% url 'indexPage' %}">
                    {% csrf_token %}
                    <input type="text" name="q" value="east_bottom_btn_1">
                    <input type="submit" value="" {% if boolBtnSelectedFan.east_bottom_btn_1 == 1 %} class="selectedBtn" {% endif %}>
                </form>
                <form method="POST" action="{% url 'indexPage' %}">
                    {% csrf_token %}
                    <input type="text" name="q" value="east_bottom_btn_2">
                    <input type="submit" value="" {% if boolBtnSelectedFan.east_bottom_btn_2 == 1 %} class="selectedBtn" {% endif %}>
                </form>
                
            </div>
        </div>
        </div>
        <div class="north-south">
            <h1>SOUTH</h1>
            <div class="top">
                <div class="top-top">
                    <div class="btn-container">
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_tt_btn_1" >
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_tt_btn_1 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_tt_btn_1 == 1 %} disabled {% endif %}>
                        </form>
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_tt_btn_2">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_tt_btn_2 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_tt_btn_2 == 1 %} disabled {% endif %}>
                        </form>
                        
                    </div>
                    <div class="btn-container">
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_tt_btn_3">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_tt_btn_3 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_tt_btn_3 == 1 %} disabled {% endif %}>
                        </form>
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_tt_btn_4">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_tt_btn_4 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_tt_btn_4 == 1 %} disabled {% endif %}>
                        </form>
                        
                    </div>
                    <div class="btn-container">
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_tt_btn_5">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_tt_btn_5 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_tt_btn_5 == 1 %} disabled {% endif %}>
                        </form>
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_tt_btn_6">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_tt_btn_6 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_tt_btn_6 == 1 %} disabled {% endif %}>
                        </form>
                        
                    </div>
                </div>
                <div class="top-bottom">
                    <div class="btn-container">   
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_tb_btn_1">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_tb_btn_1 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_tb_btn_1 == 1 %} disabled {% endif %}>
                        </form>
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_tb_btn_2">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_tb_btn_2 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_tb_btn_2 == 1 %} disabled {% endif %}>
                        </form>
                        
                    </div>
                    <div class="btn-container">
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_tb_btn_3">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_tb_btn_3 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_tb_btn_3 == 1 %} disabled {% endif %}>
                        </form>
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_tb_btn_4">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_tb_btn_4 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_tb_btn_4 == 1 %} disabled {% endif %}>
                        </form>
                        
                    </div>
                    <div class="btn-container">
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_tb_btn_5">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_tb_btn_5 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_tb_btn_5 == 1 %} disabled {% endif %}>
                        </form>
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_tb_btn_6">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_tb_btn_6 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_tb_btn_6 == 1 %} disabled {% endif %}>
                        </form>
                        
                    </div>
                </div>
            </div>
            <div class="bottom">
                <h1>NORTH</h1>
                <div class="bottom-top">
                    <div class="btn-container">
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_bt_btn_1">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_bt_btn_1 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_bt_btn_1 == 1 %} disabled {% endif %}>
                        </form>
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_bt_btn_2">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_bt_btn_2 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_bt_btn_2 == 1 %} disabled {% endif %}>
                        </form>
                        
                    </div>
                    <div class="btn-container">
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_bt_btn_3">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_bt_btn_3 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_bt_btn_3 == 1 %} disabled {% endif %}>
                        </form>
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_bt_btn_4">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_bt_btn_4 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_bt_btn_4 == 1 %} disabled {% endif %}>
                        </form>
                        
                    </div>
                    <div class="btn-container">
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_bt_btn_5">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_bt_btn_5 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_bt_btn_5 == 1 %} disabled {% endif %}>
                        </form>
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_bt_btn_6">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_bt_btn_6 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_bt_btn_6 == 1 %} disabled {% endif %}>
                        </form>
                        
                    </div>
                </div>
                <div class="bottom-bottom">
                    <div class="btn-container">
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_bb_btn_1">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_bb_btn_1 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_bb_btn_1 == 1 %} disabled {% endif %}>
                        </form>
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_bb_btn_2">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_bb_btn_2 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_bb_btn_2 == 1 %} disabled {% endif %}>
                        </form>
                        
                    </div>
                    <div class="btn-container">
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_bb_btn_3">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_bb_btn_3 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_bb_btn_3 == 1 %} disabled {% endif %}>
                        </form>
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_bb_btn_4">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_bb_btn_4 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_bb_btn_4 == 1 %} disabled {% endif %}>
                        </form>
                        
                    </div>
                    <div class="btn-container">
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_bb_btn_5">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_bb_btn_5 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_bb_btn_5 == 1 %} disabled {% endif %}>
                        </form>
                        <form method="POST" action="{% url 'indexPage' %}">
                            {% csrf_token %}
                            <input type="text" name="q" value="ns_bb_btn_6">
                            <input type="submit" value="" {% if boolBtnSelectedFan.ns_bb_btn_6 == 1 %} class="selectedBtn" {% endif %} {%if disabledFan.ns_bb_btn_6 == 1 %} disabled {% endif %}>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="west">
            <h1>WEST</h1>
            <div class="west-top-btn">
                <form method="POST" action="{% url 'indexPage' %}">
                    {% csrf_token %}
                    <input type="text" name="q" value="west_top_btn_1">
                    <input type="submit" value="" {% if boolBtnSelectedFan.west_top_btn_1 == 1 %} class="selectedBtn" {% endif %}>
                </form>
                <form method="POST" action="{% url 'indexPage' %}">
                    {% csrf_token %}
                    <input type="text" name="q" value="west_top_btn_2">
                    <input type="submit" value="" {% if boolBtnSelectedFan.west_top_btn_2 == 1 %} class="selectedBtn" {% endif %}>
                </form>
                <!-- <a href="" class="west-btn-1"></a>
                <a href="" class="west-btn-2"></a> -->
            </div>
            <div class="west-bottom-btn">
                <form method="POST" action="{% url 'indexPage' %}">
                    {% csrf_token %}
                    <input type="text" name="q" value="west_bottom_btn_1">
                    <input type="submit" value="" {% if boolBtnSelectedFan.west_bottom_btn_1 == 1 %} class="selectedBtn" {% endif %}>
                </form>
                <form method="POST" action="{% url 'indexPage' %}">
                    {% csrf_token %}
                    <input type="text" name="q" value="west_bottom_btn_2">
                    <input type="submit" value="" {% if boolBtnSelectedFan.west_bottom_btn_2 == 1 %} class="selectedBtn" {% endif %}>
                </form>
                <!-- <a href="" class="west-btn-3"></a>
                <a href="" class="west-btn-4"></a> -->
            </div>
        </div>
    </section>
    <section class="duct-control">
        <!-- <div class="duct-menu">
            <h1>Floor 1</h1>
            <h1>Floor 2</h1>
            <h1>Ceiling 1</h1>
            <h1>Ceiling 2</h1>
        </div> -->
        <div class="duct-action">
            <div class="floor-1">     
                <form method="POST" action="{% url 'multipleSelect' %}" id="floor-1-1-form">
                    {% csrf_token %}
                    <input type="text" name="q" value="floor_1_1">
                    <input type="submit" id="floor-1-1" value="Floor 1-1">
                </form>             
                <a href="{% url 'index' 'floor_1_btn_1' %}" class="floor_1_btn_1 {% if boolBtnSelectedDuct.floor_1_btn_1 == 1 %} selectedBtn {% endif %}" ></a>
                <a href="{% url 'index' 'floor_1_btn_2' %}" class="floor_1_btn_2 {% if boolBtnSelectedDuct.floor_1_btn_2 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'floor_1_btn_3' %}" class="floor_1_btn_3 {% if boolBtnSelectedDuct.floor_1_btn_3 == 1 %} selectedBtn {% endif %}"></a>
                <!-- <h1>Floor 1-2</h1>  -->
                <form method="POST" action="{% url 'multipleSelect' %}" id="floor-1-2-form">
                    {% csrf_token %}
                    <input type="text" name="q" value="floor_1_2">
                    <input type="submit" id="floor-1-2" value="Floor 1-2">
                </form> 
                <a href="{% url 'index' 'floor_1_btn_4' %}" class="floor_1_btn_4 {% if boolBtnSelectedDuct.floor_1_btn_4 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'floor_1_btn_5' %}" class="floor_1_btn_5 {% if boolBtnSelectedDuct.floor_1_btn_5 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'floor_1_btn_6' %}" class="floor_1_btn_6 {% if boolBtnSelectedDuct.floor_1_btn_6 == 1 %} selectedBtn {% endif %}"></a>
            </div>
            <div class="floor-2">
                <!-- <h1>Floor 2-1</h1>  -->
                <form method="POST" action="{% url 'multipleSelect' %}" id="floor-2-1-form">
                    {% csrf_token %}
                    <input type="text" name="q" value="floor_2_1">
                    <input type="submit" id="floor-2-1" value="Floor 2-1">
                </form> 
                <a href="{% url 'index' 'floor_2_btn_1' %}" class="floor_2_btn_2 {% if boolBtnSelectedDuct.floor_2_btn_1 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'floor_2_btn_2' %}" class="floor_2_btn_2 {% if boolBtnSelectedDuct.floor_2_btn_2 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'floor_2_btn_3' %}" class="floor_2_btn_3 {% if boolBtnSelectedDuct.floor_2_btn_3 == 1 %} selectedBtn {% endif %}"></a>
                <!-- <h1>Floor 2-2</h1>  -->
                <form method="POST" action="{% url 'multipleSelect' %}" id="floor-2-2-form">
                    {% csrf_token %}
                    <input type="text" name="q" value="floor_2_2">
                    <input type="submit" id="floor-2-2" value="Floor 2-2">
                </form> 
                <a href="{% url 'index' 'floor_2_btn_4' %}" class="floor_2_btn_4 {% if boolBtnSelectedDuct.floor_2_btn_4 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'floor_2_btn_5' %}" class="floor_2_btn_5 {% if boolBtnSelectedDuct.floor_2_btn_5 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'floor_2_btn_6' %}" class="floor_2_btn_6 {% if boolBtnSelectedDuct.floor_2_btn_6 == 1 %} selectedBtn {% endif %}"></a>
            </div>
            <div class="ceiling-1">
                <!-- <h1>Ceiling 1-1</h1>  -->
                <form method="POST" action="{% url 'multipleSelect' %}" id="ceiling-1-1-form">
                    {% csrf_token %}
                    <input type="text" name="q" value="ceiling_1_1">
                    <input type="submit" id="ceiling-1-1" value="Ceiling 1-1">
                </form> 
                <a href="{% url 'index' 'ceiling_1_btn_1' %}" class="ceiling_1_btn_1{% if boolBtnSelectedDuct.ceiling_1_btn_1 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'ceiling_1_btn_2' %}" class="ceiling_1_btn_2{% if boolBtnSelectedDuct.ceiling_1_btn_2 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'ceiling_1_btn_3' %}" class="ceiling_1_btn_3{% if boolBtnSelectedDuct.ceiling_1_btn_3 == 1 %} selectedBtn {% endif %}"></a>
                <!-- <h1>Ceiling 1-2</h1>  -->
                <form method="POST" action="{% url 'multipleSelect' %}" id="ceiling-1-2-form">
                    {% csrf_token %}
                    <input type="text" name="q" value="ceiling_1_2">
                    <input type="submit" id="ceiling-1-2" value="Ceiling 1-2">
                </form> 
                <a href="{% url 'index' 'ceiling_1_btn_4' %}" class="ceiling_1_btn_4{% if boolBtnSelectedDuct.ceiling_1_btn_4 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'ceiling_1_btn_5' %}" class="ceiling_1_btn_5{% if boolBtnSelectedDuct.ceiling_1_btn_5 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'ceiling_1_btn_6' %}" class="ceiling_1_btn_6{% if boolBtnSelectedDuct.ceiling_1_btn_6 == 1 %} selectedBtn {% endif %}"></a>
            </div>
            <div class="ceiling-2">
                <!-- <h1>Ceiling 2-1</h1>  -->
                <form method="POST" action="{% url 'multipleSelect' %}" id="ceiling-2-1-form">
                    {% csrf_token %}
                    <input type="text" name="q" value="ceiling_2_1">
                    <input type="submit" id="ceiling-2-1" value="Ceiling 2-1">
                </form> 
                <a href="{% url 'index' 'ceiling_2_btn_1' %}" class="ceiling_2_btn_1{% if boolBtnSelectedDuct.ceiling_2_btn_1 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'ceiling_2_btn_2' %}" class="ceiling_2_btn_2{% if boolBtnSelectedDuct.ceiling_2_btn_2 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'ceiling_2_btn_3' %}" class="ceiling_2_btn_3{% if boolBtnSelectedDuct.ceiling_2_btn_3 == 1 %} selectedBtn {% endif %}"></a>
                <!-- <h1>Ceiling 2-1</h1> -->
                <form method="POST" action="{% url 'multipleSelect' %}" id="ceiling-2-2-form">
                    {% csrf_token %}
                    <input type="text" name="q" value="ceiling_2_2">
                    <input type="submit" id="ceiling-2-2" value="Ceiling 2-2">
                </form> 
                <a href="{% url 'index' 'ceiling_2_btn_4' %}" class="ceiling_2_btn_4{% if boolBtnSelectedDuct.ceiling_2_btn_4 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'ceiling_2_btn_5' %}" class="ceiling_2_btn_5{% if boolBtnSelectedDuct.ceiling_2_btn_5 == 1 %} selectedBtn {% endif %}"></a>
                <a href="{% url 'index' 'ceiling_2_btn_6' %}" class="ceiling_2_btn_6{% if boolBtnSelectedDuct.ceiling_2_btn_6 == 1 %} selectedBtn {% endif %}"></a>
            </div>
        </div>
    </section>
</section>
<section class="addModePopUp display-none-property">
    <div class="modeNameContainer">
        <label for="modeName">Mode Name </label>
        <input type="text" name="modeName" id="modeName">
    </div>
    <div class="modeDescriptionContainer">
        <label for="modeDescription">Mode Description</label>
        <textarea name="modeDescription" id="modeDescription" cols="30" rows="10"></textarea>
    </div>
    <button class="createMode">Create Mode</button>
    <button class="closeBtn">Close</button>
</section>

<section class="modes-container">
    
</section>
<section class="footer">
    <div class="fan-action">
        <a href="{% url 'supplyCommand' %}" class="supply">Supply</a>
        <a href="{% url 'exhaustCommand' %}" class="exhaust">Exhaust</a>
        <a href="{% url 'offCommand' %}" class="off">Off</a>
        <a href="{% url 'fanStatusCommand' %}" class="status">Status</a>
    </div>
    <!-- <div class="password">
        <label for="pass">PW</label>
        <input type="text" type="password">
    </div>     -->
    <div class="duct-action">
        <a href="{% url 'semiOpenCommand' %}" class="semi-open">semi-open</a>
        <a href="{% url 'openCommand' %}" class="open">Open</a>
        <input type="text" class="open-amount">
        <a href="{% url 'closeCommand' %}" class="close">Close</a>
        <a href="{% url 'ductStatusCommand' %}" class="status">Status</a>
        <a class="addMode">Add Mode</a>
    </div>
</section>
</section>
<section class="mode-side-bar display-none-property width-0">
    <div class="title">
        <h1>Modes</h1>
    </div>
</section>

<section class="mode-select-side-bar display-none-property width-0">
    <div class="title">
        <h1>Select Mode</h1>
    </div>
    <div class="modes-container">

    </div>
</section>

<div class="openModeSelect left-99"></div>
</section>

<script>
    // document.addEventListener('DOMContentLoaded', ()=>{
    //     var floor_1_1 = document.querySelector("#floor_1_1");
    //     var floor_1_1_form = document.querySelector("#floor-1-1-form");
    //     floor_1_1.addEventListener("Click", (event)=>{
    //         event.preventDefault();
    //         floor_1_1_form.submit();
    //     });
    // });
    // document.addEventListener('DOMContentLoaded', ()=> {
        
    //     var createProduct = document.querySelector("#btn");
    //     var productForm = document.querySelector('.addModel');
    //     var hidden = true;
    //     createProduct.addEventListener("dblclick", (event) => {
    //         productForm.style.display = productForm.style.display=='none' ? 'block' : 'none';
    //     });
    // });

    // document.querySelector('.duct-action .addMode').addEventListener('click', function() {
    //     fetch('/addMode?modeName=' + modeName)
    // });

    // document.querySelector('.duct-action .addMode').addEventListener('click', function() {
    //     var addModePopUp = document.querySelector('.addModePopUp');
    //     addModePopUp.classList.remove('display-none-property');
    //     addModePopUp.classList.add('display-block-property');

    //     document.querySelector('.createMode').addEventListener('click', function() {
    //         var modeName = document.querySelector('.addModePopUp #modeName').value;
    //         var modeDescription = document.querySelector('.addModePopUp #modeDescription').value;
    //         fetch('/addMode?modeName=' + modeName + '&modeDescription=' + modeDescription)
    //         .then(response => response.json())
    //         .then(data => {
    //             console.log(data);
    //         })
    //         .catch(error => {
    //             console.log(error);
    //         });
    //         alert('Mode Created');
    //         addModePopUp.classList.remove('display-block-property');
    //         addModePopUp.classList.add('display-none-property');
    //     });
    // }); 

    document.querySelector('.openModeSelect').addEventListener('click', function() {
        document.querySelector('.openModeSelect').classList.toggle('left-99');
        document.querySelector('.openModeSelect').classList.toggle('left-80');
        document.querySelector('.mode-select-side-bar').classList.toggle('display-none-property');
        document.querySelector('.mode-select-side-bar').classList.toggle('display-block-property');
        document.querySelector('.mode-select-side-bar').classList.toggle('width-20');
        document.querySelector('.mode-select-side-bar').classList.toggle('width-0');
        document.querySelector('.main-container').classList.toggle('width-100');    
        document.querySelector('.main-container').classList.toggle('width-80');

        fetch('/getModes')
        .then(response => response.json())
        .then(data => {
            
            
            var modeContainer = document.querySelector('.mode-select-side-bar .modes-container');
            
            modeContainer.innerHTML = '';
            data.forEach(mode => {
                modeContainer.innerHTML += `
                    <div class="mode">
                        <div class="mode_info">
                            <span class='mode_id'>${mode.mode_id}</span>
                            <span>Mode Name: ${mode.mode_name}</span>
                        </div>
                        <div class="mode_delete">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </div>
                    </div>
                `;
            });
        })
        .catch(error => {
            console.log(error);
        });
    });

    // document.querySelectorAll('.mode-select-side-bar .modes-container .mode').forEach(element => {
    //     element.addEventListener('click', function() {
    //         console.log("clicked"); 
    //     });
    // });

    document.querySelector('.mode-select-side-bar .modes-container').addEventListener('click', function(event) {
        console.log(event.target);
        if(event.target.classList.contains('mode_info')){
            var mode_id = event.target.querySelector('.mode_id').innerHTML;
            fetch('/executeMode?modeID=' + mode_id) 
            .then(response => response.json())
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.log(error);
            });
        }
        
    });
    
    var mode_id = null;
    var addModeEnabled = document.querySelector('.all-container').classList.contains('adding');

    document.querySelector('.duct-action .addMode').addEventListener('click', function(event) {
        event.preventDefault();
        // document.querySelector('.all-container').classList.toggle('adding');
        
        if (document.querySelector('.mode-side-bar').classList.contains('display-none-property')){
            document.querySelector('.mode-side-bar').classList.remove('display-none-property');
            document.querySelector('.mode-side-bar').classList.add('display-block-property');

            document.querySelector('.mode-side-bar').classList.toggle('width-20');
            document.querySelector('.mode-side-bar').classList.toggle('width-0');
            document.querySelector('.main-container').classList.toggle('width-100');
            document.querySelector('.main-container').classList.toggle('width-80');

            document.querySelector('.all-container').classList.toggle('adding');
            addModeEnabled = document.querySelector('.all-container').classList.contains('adding');
            fetch('/createMode')
            .then(response => response.json())
            .then(data => {
                mode_id = data.mode_id;
                console.log(mode_id);
            })
            .catch(error => {
                console.log(error);
            });
        }   
        else {
            document.querySelector('.mode-side-bar').classList.remove('display-block-property');
            document.querySelector('.mode-side-bar').classList.add('display-none-property');

            document.querySelector('.mode-side-bar').classList.toggle('width-20');
            document.querySelector('.mode-side-bar').classList.toggle('width-0');
            document.querySelector('.main-container').classList.toggle('width-100');
            document.querySelector('.main-container').classList.toggle('width-80');
            // addModeEnabled = document.querySelector('.all-container').classList.contains('adding');
        }
        
        
    });
    // var fanButtons = document.querySelectorAll('.fan-control input[type="submit"]');
    //     fanButtons.forEach(element => {
    //         element.addEventListener('click', function(event) {
    //             event.preventDefault();
            
    //             console.log(element);
    //         });
    //     });
    
    

    // document.querySelector('.mode-select-side-bar .modes-container').addEventListener('click', function(event) {
    //     var mode_id = event.target.parentElement.parentElement.querySelector('.mode_id').innerHTML;
        
    //     fetch('/deleteMode?modeID=' + mode_id)
    //     .then(response => response.json())
    //     .then(data => {
    //         fetch('/getModes')
    //         .then(response => response.json())
    //         .then(data => {              
    //             var modeContainer = document.querySelector('.mode-select-side-bar .modes-container');
                
    //             modeContainer.innerHTML = '';
    //             data.forEach(mode => {
    //                 modeContainer.innerHTML += `
    //                     <div class="mode">
    //                         <div class="mode_info">
    //                             <span class='mode_id'>${mode.mode_id}</span>
    //                             <span>Mode Name: ${mode.mode_name}</span>
    //                         </div>
    //                         <div class="mode_delete">
    //                             <span class="material-symbols-outlined">
    //                                 delete
    //                             </span>
    //                         </div>
    //                     </div>
    //                 `;
    //             });
    //         })
    //         .catch(error => {
    //             console.log(error);
    //         });
    //     })
    //     .catch(error => {
    //         console.log(error);
    //     });

        
    // });

    var fanButton = null;
    var fanControl = null;
    var fanButtons = document.querySelectorAll('.fan-control input[type="submit"]');
    fanButtons.forEach(element => {
        element.addEventListener('click', function(event) {
            if (addModeEnabled) {
                event.preventDefault();   
                fanButton = element.parentElement.querySelector('input[type="text"]').value;
            }
            else {
                console.log('submit');
            }
        });
    });

    var fanControlBtns = document.querySelectorAll('.footer .fan-action a');
    fanControlBtns.forEach(element => {
        element.addEventListener('click', function(event) {
            if (addModeEnabled) {
                event.preventDefault();
                fanControl = element.classList[0];
                if (fanButton && fanControl) {
                    fetch('/addMode?mode=fan&modeID=' + mode_id + '&fanButton=' + fanButton + '&fanControl=' + fanControl) 
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    })
                    .catch(error => {
                        console.log(error);
                    });
                    document.querySelector('.mode-side-bar').innerHTML += `
                        <div class="mode">
                            <span>Mode ID: ${mode_id}</span>
                            <span>${fanButton}</span>
                            <span>${fanControl}</span>
                        </div>                
                    `;
                    fanButton = null;
                    fanControl = null;
                }
                else {
                    console.log('submit');
                }

                
                fanButton = null;
                fanControl = null;
            }
            else {
                console.log('submit');
            }
        });
    });

    var ductButton = null;
    var ductControl = null;
    var ductButtons = document.querySelectorAll('.duct-control .duct-action a');
    ductButtons.forEach(element => {
        element.addEventListener('click', function(event) {
            if (addModeEnabled) {
                event.preventDefault();
                ductButton = element.classList[0];
            }
            else {
                console.log('submit');
            }
        }); 
    });   

    var ductControlBtns = document.querySelectorAll('.footer .duct-action a');
    ductControlBtns.forEach(element => {
        element.addEventListener('click', function(event) {
            if (addModeEnabled) {
                event.preventDefault();
                ductControl = element.classList[0];
                if (ductButton && ductControl) {
                    fetch('/addMode?mode=duct&modeID=' + mode_id + '&ductButton=' + ductButton + '&ductControl=' + ductControl) 
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                    })
                    .catch(error => {
                        console.log(error);
                    });

                    document.querySelector('.mode-side-bar').innerHTML += `
                        <div class="mode">
                            <span>${mode_id}</span>
                            <span>${ductButton}</span>
                            <span>${ductControl}</span>
                        </div>                
                    `;

                    ductButton = null;
                    ductControl = null;
                }
                else {
                    console.log('submit');
                }
                ductButton = null;
                ductControl = null;
            }
            else {
                console.log('submit');
            }
        });
    });
    
    
    
</script>

{% endblock %}