/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
    background-color: rgb(192, 0, 0);
    height: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bolder;
    font-size: 200%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header .container a {
    font-size: 0.5em;
    text-decoration: none;
    background-color: white;
    color: black;
}
.addModel {
    position: absolute;
    width: 50%;
    height: 20vh;
    top: 30vh;
    left: 25%;
    background-color: white;
    border-radius: 3%;
    border: 2px solid Gold;
    display: none;
}

.addModel input {
    display: block;
}

.addModel .container{
    margin-top: 5vh;
    margin-left: 30%;
}

.addModel input[type="text"] {
    margin-bottom: 1vh;
    border-radius: 5px;
    border: 1px solid rgb(68, 114, 196);
}

.addModel input[type="submit"] {
    border-radius: 5px;
    border: 1px solid rgb(68, 114, 196);
    background-color: white;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(68, 114, 196);
    padding-top: 1vh;
    padding-bottom: 3vh;
    height: 5vh;
}

.menu h1 {
    font-family: 'Malgun Gothic';
    background-color: rgb(0, 32, 96);
    color: #fff;
    padding: 10px;
}

.menu h1:nth-child(1) {
    margin-left: 22%;
}

.menu h1:nth-child(2) {
    margin-right: 22%;
}

.main {
    /* height: 70vh; */
    background-color: rgb(68, 114, 196);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 71vh;
}

.main section {
    /* border: 2px solid red; */
    width: 50%;
}

.selectedBtn {
    background-color: gold !important;
    color: gold;
}
.fan-control {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.fan-control div {
    /* border: 2px solid yellow; */
}

.fan-control form {
    width: 100%;
}

.fan-control input[type="submit"] {
    padding: 0;
    margin: 0;
}

.fan-control .east {
    width: 25%;
    height: 60vh;
}

.fan-control .north-south {
    width: 50%;
    height: 60vh;
}

.fan-control .west {
    width: 25%;
    height: 60vh;
}

.fan-control .east {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fan-control .east .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 20vh;
}

.fan-control .east .east-top-btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 10vh;
}

.fan-control .east .east-bottom-btn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    height: 10vh;
}

.fan-control .east .east-top-btn input[type="submit"] {
    /* display: inline-block; */
    display: block;
    margin: 0;
    padding: 0;
    border:none;
    width: 60%;
    height:5vh;    
    background-color: white;
    margin-bottom: 0.8vh;
    height: 10vh;
}

/* .fan-control .east .east-top-btn input[type="submit"]:nth-child(1) {
    margin-right: 5%;
}

.fan-control .east .east-top-btn input[type="submit"]:nth-child(2) {
    margin-left: 5%; */
/* } */

.fan-control .east .east-bottom-btn input[type="submit"] {
    margin: 0;
    padding: 0;
    width: 60%;
    height: 5vh;    
    border: none;
    background-color: white;
    margin-bottom: 0.5vh;
    height: 10vh;
}

/* .fan-control .east .east-bottom-btn a:nth-child(1) {
    margin-right: 5%;
}

.fan-control .east .east-bottom-btn a:nth-child(2) {
    margin-left: 5%;
} */

.north-south input[type="submit"] {
    display: block;
    margin: 0;
    padding: 0;
    width: 90%;
    height: 5vh;    
    border: none;
    background-color: white;
}
.north-south div {
    display: block;
    width: 100%;
}

.north-south .top .top-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.north-south .top .top-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vh;
}

.north-south .bottom .bottom-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    margin-bottom: 5vh; 
}

.north-south .bottom .bottom-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5vh;
}

.north-south .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 3px
}

.north-south .btn-container input[type="submit"] {
    margin-right: 2px;
}

.north-south .top {
    margin-bottom: 25vh;
}

.north-south .bottom {
    margin-top: 25vh;
}

.fan-control .west {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh;
}

.fan-control .west .west-top-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 10vh;
}

.fan-control .west .west-bottom-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 10vh;
}

.fan-control .west .west-top-btn input[type="submit"] {
    margin: 0;
    padding: 0;
    width: 70%;
    height: 10vh;
    background-color: white;
    border: none;
    margin-bottom: 0.8vh;
    
}

/* .fan-control .west .west-top-btn a:nth-child(1) {
    margin-right: 5%;
}

.fan-control .west .west-top-btn a:nth-child(2) {
    margin-left: 5%;
} */

.fan-control .west .west-bottom-btn input[type="submit"] {
    margin: 0;
    padding: 0;
    width: 70%;
    height: 10vh;
    background-color: white;
    border: none;
    /* margin-top: 0.25vh; */
    margin-top: 0.8vh;
}

.fan-control .west .west-bottom-btn a:nth-child(1) {
    margin-right: 5%;
}

.fan-control .west .west-bottom-btn a:nth-child(2) {
    margin-left: 5%;
}

.east h1 {
    font-family: "Malgun Gothic";
    color: #fff;
    margin-bottom: 2px;
    text-align: center;
}

.north-south h1 {
    font-family: "Malgun Gothic";
    color: #fff;
    margin-bottom: 2px;
    text-align: center;
}

.west h1 {
    font-family: "Malgun Gothic";
    color: #fff;
    margin-bottom: 2px;
    text-align: center;
}

.duct-menu {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    background-color: rgb(68, 114, 196);
    /* padding-bottom: 3vh; */
    margin-left: 1%;
    /* width: 100%; */
}
.duct-menu h1 {
    font-family: 'Malgun Gothic';
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(112, 48, 160);
    width: 100%;
}

.duct-control .duct-action div {
    height: 57vh;
    width: 25%;
}

.duct-control .duct-action {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.duct-control .duct-action a {
    display: block;
    width: 80%;
    height: 8vh;
    background:white;
    margin-bottom: 10px;
    margin-left: 10%;

}

.footer {
    height: 10vh;
    background-color: Gold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    font-family: "Malgun Gothic";
}

.footer div {
    display: block;
    width: 100%;
    height: 20vh;
}

.footer a{
    display: inline-block;
    width: 20%;
    height: 3vh;
    background-color: black;
    text-decoration: none;
    font-family: "Malgun Gothic";
    text-align: center;
    color: white;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.footer .addMode {
    width: 15% !important;
}

.footer a:hover {
    border: 3px solid black;
    color: black;
    background-color: Gold;
    font-weight: bold;
}

.footer label {
    display: inline-block;
    background-color: rgb(192, 0, 0);
    margin: 0;
    padding: 0;
    border: 0;
}

.password {
    margin-top: 2vh;
}
.footer input {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.password input {
    width: 80%;
}

.duct-action {
    display: inline;
}
.duct-action input {
    width: 10%;
}


.fan-control input[type="text"] {
    display: none;
}

/* .duct-action h1 {
    background-color: rgb(112, 48, 160);
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 80%;
    margin-left: 10%;
    color: white;
    text-align: center;
    font-family: "Malgun Gothic";
    border:none;
} */

.duct-action input[type="submit"] {
    background-color: rgb(112, 48, 160);
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 80%;
    margin-left: 10%;
    color: white;
    text-align: center;
    font-family: "Malgun Gothic";
    border:none;
    font-size: 1em;
}

.duct-action input[type="text"] {
    display: none;
}


.footer .fan-action {
    width: 58%;
    height: 10vh;
    margin-top: 2vh;
}

.footer .password {
    width: 15%;
    height: 10vh;
}

.footer .duct-action {
    width: 55%;
    height: 10vh;
    margin-top: 2vh;
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-container .login {
    width: 35%;
    height: 35vh;
    background-color: rgb(68, 114, 196);
    border-radius: 5px;
    display: flex;
}

.login-container .login form {
    display: block;
    text-align: center;
    margin: auto;
}

.login-container .login div {
    margin-bottom: 3vh;
    
}

.login-container .login .form-element label {
    display: block;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 1vh;
}

.login-container .login .form-element input {
    border: none;
    border-radius: 5px;
}

.login-container .login form button {
    padding: 10%;
    background-color: #fff;
    color: #000;
    font-family: sans-serif;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.login-container .login form button:hover {
    background-color: Gold;
}

.addModePopUp {
    background-color: #fff;
    border: 2px solid Gold;
    border-radius: 5px;
    position: absolute;
    width: 40%;
    height: 44vh;
    top: 25vh;
    left: 25%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 5%;
    padding-right: 5%;
}

.addModePopUp div {
    margin-bottom: 5vh;
}

.addModePopUp div input {
    border-radius: 3px;
}

.addModePopup div textarea {
    border-radius: 3px;
    border: 3px solid black;
}

.addModePopUp button {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 2%;
}

.addModePopUp button:hover {
    background-color: Gold;
    font-weight: bold;
    cursor: pointer;
}   

.display-none-property {
    display: none;
}

.display-block-property {
    display: block;
}   

.modes-container {
    display: flex;
}
.all-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.main-container {
    /* width: 100%; */
}

.mode-side-bar {
    /* width: 20%; */
    background: #fff;
    height: 100vh;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.width-20 {
    width: 20%;
}   

.width-0 {
    width: 0;
}

.mode-side-bar .title {
    width: 99%;
    height: 5vh;
    background-color:rgb(68, 114, 196);
    color: #fff;
    font-size: 1.5em;
    line-height: 5vh;
    text-align: center;
    border: 2px solid Gold;
}

.openModeSelect {
    position: absolute;
    top: 50vh;
    /* left:99%; */
    background-color: Gold;
    width: 1%;
    height: 5vh;
    border-radius: 5px;
    cursor: pointer;
}

.left-99 {
    left: 99%;
}

.left-80 {
    left: 78.5%;
}

.mode-select-side-bar .title {
    background-color:rgb(68, 114, 196);
    font-family: 'open sans', sans-serif;   
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    height: 5vh;
    line-height: 5vh;
    border-bottom: 2px solid Gold;
    border-left: 2px solid Gold;
}

.mode-select-side-bar .modes-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width:none;
}

.mode-select-side-bar .modes-container .mode {
    width: 70%;
    height: 8vh;
    margin-left: 10%;
    background-color:rgb(68, 114, 196);
    color: #fff;
    font-size: 1.1em;
    font-family: 'open sans', sans-serif;
    margin-bottom: 1vh;
    border-radius: 5px;
    cursor: pointer;    
    padding: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
}

.mode-select-side-bar .mode_delete {
    line-height: 8vh;
    text-align: center;
}

.mode-select-side-bar .modes-container .mode:nth-child(1) {
    margin-top: 5vh;
}

.mode-select-side-bar .modes-container .mode span {
    display: block;
    width: 100%;
    margin-bottom: 2vh;
}
.addMode {
    cursor: pointer;
}